*{
  margin: 0;
  padding: 0;
  border: border-box;
}

/* .hideScrollbar::-webkit-scrollbar{
  display: none;
}
.blurWrapper{
  background-color: rgba(0, 0, 0, 0.507);
} */
.useStopScroll{
  overflow: hidden;
}